<div id="form-container" th:fragment="form-container">
    <div th:replace="~{fragments/components :: textInput('username', 'Username', 'text', 'Enter username')}"></div>
    <div th:replace="~{fragments/components :: textInput('email', 'Email', 'email', 'Enter email')}"></div>
    <div th:replace="~{fragments/components :: textInput('password', 'Password', 'password', 'Enter password')}"></div>

    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Register (Will Fail)</button>
        <a href="/" class="btn btn-secondary">Back</a>
    </div>
</div>
