<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <div class="container">
        <h1>User Registration (Working)</h1>
        
        <div th:if="${success}" class="success-message">
            Registration successful!
        </div>

        <div th:replace="~{fragments/register-form :: registerForm(user=${user})}"></div>
    </div>
</body>
</html>
