<div th:fragment="textInput(label, name, type, placeholder, helperText)"
     class="form-group" xmlns:th="http://www.thymeleaf.org">
    <label th:for="${name}" th:text="${label}">Label</label>
    <input
            th:type="${type} ?: 'text'"
            th:id="${name}"
            th:name="${name}"
            th:placeholder="${placeholder}"
            th:field="*{__${name}__}"
            th:classappend="${#fields.hasErrors(name)} ? 'error' : ''"
            class="form-control">
    <span th:if="${helperText != null and !#fields.hasErrors(name)}"
          class="helper-text"
          th:text="${helperText}">Helper text</span>
    <span th:if="${#fields.hasErrors(name)}"
          class="error-text"
          th:errors="*{__${name}__}">Error message</span>
</div>
