<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tabs</title>
</head>
<body>

<div th:fragment="tabs(activeTab)" class="tabs">
    <a th:href="@{/dashboard/users}" 
       th:classappend="${activeTab == 'users' ? 'active' : ''}"
       class="tab">
        Users
    </a>
    <a th:href="@{/dashboard/roles}" 
       th:classappend="${activeTab == 'roles' ? 'active' : ''}"
       class="tab">
        Roles
    </a>
    <a th:href="@{/dashboard/permissions}" 
       th:classappend="${activeTab == 'permissions' ? 'active' : ''}"
       class="tab">
        Permissions
    </a>
</div>

<div th:fragment="tabContent(activeTab)" class="content">
    <div hx-trigger="load" th:hx-get='${"/" + activeTab}' hx-indicator="#spinner">
        <div th:replace="~{fragments/spinner :: spinner}"></div>
    </div>
</div>

</body>
</html>
